
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Mono', monospace;;
    text-align: center;
    
}

body{
    background-color: rgb(206, 179, 106);
}

.card{

    width: 40rem;
    height: 22rem;
    border-radius: 7px;
    margin-top: 11rem;
    margin-left: 20rem;
}

#title{
    font-size: 3rem;
    display: inline-block;
    margin: 1rem;
    padding: 5px;
}

#Kilogram{
    
    display: block;
    color: crimson;
    margin-top: 5px;
    margin-right: 7px;
    margin-bottom: 2rem;
    margin-left: 10rem;
    padding: 10px;
    border-radius: 5px;
    border-radius: 10px;
}


